.DS_Store
env.php
thumbnails_manifest.jsonl
staging/
*.tsv
*.tsv.gz
boldcaosimage.db
boldcaosimage.db-shm
boldcaosimage.db-wal
rerun.log
*.log
BIOSCAN_5M_Insect_Dataset_metadata.tsv
bioscan_todo.csv
STOP_HARVEST
bioscan_new_bins.csv
missing_bins.csv
media_todo.csv
todo.csv
media.txt
missing_processids.csv
